.DS_Store
project.xcworkspace
AppKeyz Sample Application.xcodeproj/xcuserdata/ender.xcuserdatad/xcschemes/xcschememanagement.plist
AppKeyz Sample Application.xcodeproj/xcuserdata/ender.xcuserdatad/xcschemes/AppKeyz Sample Application.xcscheme